<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>PRACTICA 2 WILDER ALI MAYTA  Objeto Request </h1>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a> |
        <a href="{{ url_for('curso') }}">Inscripción en curso</a> |
        <a href="{{ url_for('usuarios') }}">Registro de usuarios</a> |
        <a href="{{ url_for('productos') }}">Registro de productos</a> |
        <a href="{{ url_for('libros') }}">Registro de libros</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}>
</body>
</html>

