<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %}
<h2>Registro de Libros</h2>
<form method="POST">
    Título: <input type="text" name="titulo"><br>
    Autor: <input type="text" name="autor"><br>
    Resumen: <textarea name="resumen"></textarea><br>
    Modo: 
    <input type="radio" name="modo" value="Físico"> Físico
    <input type="radio" name="modo" value="Magnético"> Magnético<br>
    <button type="submit">Enviar</button>
</form>
{% endblock %}
</body>
</html>


