<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %}
<h2>Registro de Usuarios</h2>
<form method="POST">
    Nombre: <input type="text" name="nombre"><br>
    Apellidos: <input type="text" name="apellidos"><br>
    Correo Electrónico: <input type="email" name="email"><br>
    Contraseña: <input type="password" name="password"><br>
    <button type="submit">Enviar</button>
</form>
{% endblock %}
</body>
</html>